// fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');


@import "./variables";
@import "~bulma/bulma.sass";

body {
    // border: 1px solid red;
}


#main {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

#main-nav {
    margin-bottom: 30px;
}


// elements

h1,h2,h3,h4,h5,h6 {
    // margin-top: $margin-default;
    margin-bottom: $margin-default;
    line-height: 1.2em;
    font-weight: 600;
}

h1 {
    font-size: $size-1;
}

h2 {
    font-size: $size-2;
}

h3 {
    font-size: $size-3;
}

h4 {
    font-size: $size-4;
}

h5 {
    font-size: $size-5;
}


// posts

.post-content {
    margin-top: $margin-default * 2;
}



// transition

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
